.bu{
align-items: center;
padding: 30px 50px;
gap: 10px;

position: relative;
width: 208px;
height: 88px;

background: #FFFFFF;
border-radius: 8px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 152%;
}
.bu:active {
    vertical-align: middle;
    background-color: #8d8d8d;
}