
.text{
width: 166px;
height: 31px;
padding-top: 24.5px;
justify-self: start;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 143%;

grid-area: a;
color: #ffffff;
align-self: start;
}

.text1{
width: 134px;
height: 18px;
padding-top: 24px;
grid-area: b;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
justify-self: end;
color: #ffffff;
align-self: start;
}
.HEADER{
position: absolute;
display: grid;
grid-template-columns: minmax(10px, 369px) 63px 166px minmax(10px, 246px) 29px 133px minmax(10px, 60px) 29px 154px minmax(10px, 98px) 31px 171px 371px;
grid-template-areas: 
"nul imgg a nulll f1 b nullll f2 c nulllll f3 d null"
"nul imgg a nulll f1 b nullll f2 c nulllll f3 f null";
}
.text2{
padding-top: 24px; 
width: 154px;
height: 36px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
grid-area: c;
justify-self: end;
align-self: start;
color: rgb(255, 255, 255);
align-items: start;
}

.text3{
width: 171px;
height: 28px; 
grid-area: d;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 152%;
padding-top: 17px;
justify-self: end;
color: #ffffff;
}

.text4{
width: 169px;
height: 18px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
justify-self: end;
grid-area: f;

color: #ffffff;
}
.text5{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
grid-area: g;
justify-self: end;
color: #ffffff;
}

.pusto{
    grid-area: nul;
}

.pusto1{
    grid-area: null;
}

.pusto3{
    grid-area:nulll ;
}

.pusto4{
    grid-area: nullll;
}

.pusto2{
    grid-area: nulllll;
}

.imgg{
    grid-area: imgg;
    justify-self: center;
    align-self: end;
}

.f1{
    grid-area: f1;
    justify-self: start;
    align-self: center;
}

.f2{
    grid-area: f2;
    justify-self: start;
    align-self: center;
}

.f3{
    grid-area: f3;
    justify-self: start;
    align-self: center;
}