.text_page{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 16px 16px;
   gap: 10px;
   
   position: relative;
   width: 201px;
   height: 37px;
   
   background: #F2F6FA;
   border-radius: 5px;
}
.nadzagolovok{
position: absolute;
width: 165px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
/* identical to box height, or 16px */

display: flex;
align-items: center;
letter-spacing: 0.1em;
text-transform: uppercase;

/* Серый 1 */

color: #2E363E;
}