@import "_zagolovok";
@import "_pod_zagolovok";
@import "_header";
@import "_nad_zagolovok";
@import "_buttons";
@import "_otvetka";
@import "_otvetka_right";

/* шрифты 
&display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,400,500,600,700,800&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:regular,500,700&display=swap&subset=cyrillic-ext");
$fontFamily: "Monteserrat" ;

/* переменные */
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.CLOUD{
    display: grid;
    grid-template-columns: minmax(30px, 1920px);
    grid-template-rows: 410px;
    grid-template-areas: "cloud";
    background-color: rgb(0, 0, 0);
}
.INSIDE{
background:rgba(0, 0, 0, 0) no-repeat;
flex: none;
order: 0;
flex-grow: 0;
margin: -2px 0px;

}
.inside{
    //background: url("cloud.png");
}
.screen{
    display: grid;
    grid-template-columns:  minmax(10px,369px) minmax(400px,1180px) 369px;
    grid-template-rows: 870px;
    grid-template-areas: 
    "pusto foto foto";
    background-color: rgb(0, 0, 0);
    //width: 1920px;
}
.sfera{
    grid-area: foto;
    background: url("sfera.jpg") no-repeat;
    background-position-x: bottom right;
    background-size: 1497px 870px;
    
}
.pusto{
    grid-area: pusto;
    background-color: black;
}
.cloud{
    grid-area: cloud;
    margin-top: -270px;
    background: url("cloud.png") repeat-x;
    background-color: rgba(0, 0, 0, 0);

}

.TEXT{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
padding-top: 211px;
padding-bottom: 64px;
position: flex;
width: 580px;
height: 304px;
left: 369px;
top: 211px;
}