@import "_zagolovok";
@import "_pod_zagolovok";
@import "_header";
@import "_nad_zagolovok";
@import "_buttons";

/* шрифты 
&display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,400,500,600,700,800&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:regular,500,700&display=swap&subset=cyrillic-ext");
$fontFamily: "Monteserrat" ;

/* переменные */
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.INSIDE{
    
//height: 1384px;
background:rgba(0, 0, 0, 0) no-repeat;
//background: #000000;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: -2px 0px;
}
.inside{
    //background-color: rgba(0, 0, 0, 0);
}

.otvetka{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 333px 0px 128px;
gap: 79px;

width: 1920px;
height: 806px;

background: url("otvetka.png") no-repeat;
}

.screen{
    //position: fixed;
    display: grid;
    grid-template-columns:  minmax(10px,369px) minmax(400px,1551px);
    grid-template-rows: 870px 410px;
    grid-template-areas: 
    "pusto foto"
    "cloud cloud";
    background-color: rgb(0, 0, 0);
    width: 1920px;
}
.sfera{
    grid-area: foto;
    background: url("sfera.jpg") no-repeat;
    background-position-x: bottom right;
    //margin-left: -150px;
    //margin-left: 200px;
    background-size: 1497px 870px;
    
}
.pusto{
    grid-area: pusto;
    background-color: black;
    min-width: 10px;
}
.cloud{
    grid-area: cloud;
   // align-items: flex-start;
    //align-self: start;
    //align-content: flex-start;
    margin-top: -270px;
    background: url("cloud.png") no-repeat;
    //margin-top: -500xp;
    //position: relative;
    background-color: rgba(0, 0, 0, 0);
    //position: fixed;
}
/* .image1{
display: grid;
grid-template-columns: minmax(20px,369px) 1551px;
grid-template-areas: 
"nu imagee"
"nunu nunu";
grid-template-rows: 1375px 701px;
}
.im{
    grid-area: imagee;
    background: url("sfera.jpg") no-repeat;
    background-size: cover;
    background-color: black;
    height: 100%;
    max-height:  1551px;
}
.pustoo{
    grid-area: nunu;
   // background: url("cloud.png");
   
    //background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    //max-width: 1920px;
    //background-size: contain;
}
.pusto0{
    grid-area: nu;
    background-color: black;
} */
.TEXT{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
padding-top: 211px;
padding-bottom: 64px;
position: flex;
width: 580px;
height: 304px;
left: 369px;
top: 211px;
}