@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,400,500,600,700,800&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:regular,500,700&display=swap&subset=cyrillic-ext");
.zagolovok {
  width: 580px;
  height: 100px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 118.5%;
  /* or 43px */
  text-shadow: 5px 5px 5px #000;
  letter-spacing: 0.025em;
  font-feature-settings: "salt" on;
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pod_zagolovok {
  width: 544px;
  height: 119px;
  /* Текст / 21px, Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 143%;
  /* or 30px */
  letter-spacing: -0.2px;
  color: #ffffff;
  /* Inside auto layout */
  text-shadow: 4px 1px 3px #000;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.text {
  width: 166px;
  height: 31px;
  padding-top: 24.5px;
  justify-self: start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
  grid-area: a;
  color: #ffffff;
  align-self: start;
}

.text1 {
  width: 134px;
  height: 18px;
  padding-top: 24px;
  grid-area: b;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  justify-self: end;
  color: #ffffff;
  align-self: start;
}

.HEADER {
  position: absolute;
  display: grid;
  grid-template-columns: minmax(10px, 369px) 63px 166px minmax(10px, 246px) 29px 133px minmax(10px, 60px) 29px 154px minmax(10px, 98px) 31px 171px 371px;
  grid-template-areas: "nul imgg a nulll f1 b nullll f2 c nulllll f3 d null" "nul imgg a nulll f1 b nullll f2 c nulllll f3 f null";
}

.text2 {
  padding-top: 24px;
  width: 154px;
  height: 36px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  grid-area: c;
  justify-self: end;
  align-self: start;
  color: rgb(255, 255, 255);
  align-items: start;
}

.text3 {
  width: 171px;
  height: 28px;
  grid-area: d;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 152%;
  padding-top: 17px;
  justify-self: end;
  color: #ffffff;
}

.text4 {
  width: 169px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  justify-self: end;
  grid-area: f;
  color: #ffffff;
}

.text5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  grid-area: g;
  justify-self: end;
  color: #ffffff;
}

.pusto {
  grid-area: nul;
}

.pusto3 {
  grid-area: nulll;
}

.pusto4 {
  grid-area: nullll;
}

.pusto2 {
  grid-area: nulllll;
}

.imgg {
  grid-area: imgg;
  justify-self: center;
  align-self: end;
}

.f1 {
  grid-area: f1;
  justify-self: start;
  align-self: center;
}

.f2 {
  grid-area: f2;
  justify-self: start;
  align-self: center;
}

.f3 {
  grid-area: f3;
  justify-self: start;
  align-self: center;
}

.text_page {
  flex-direction: row;
  padding: 10px 18px;
  gap: 10px;
  background: #F2F6FA;
  border-radius: 5px;
  /* Inside auto layout */
}

.button1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  width: 208px;
  height: 88px;
  left: 30% px;
  top: 583px;
}

/* шрифты 
&display=swap&subset=cyrillic-ext */
/* переменные */
.INSIDE {
  background: rgba(0, 0, 0, 0) no-repeat;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -2px 0px;
}

.otvetka {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 333px 0px 128px;
  gap: 79px;
  width: 1920px;
  height: 806px;
  background: url("otvetka.png") no-repeat;
}

.image1 {
  display: grid;
  grid-template-columns: minmax(20px, 369px) 1551px;
  grid-template-areas: "nu image1" "nunu nunu";
  grid-template-rows: 1280px 701px;
}

.im {
  grid-area: image1;
  background: url("sfera.jpg") no-repeat;
  background-size: contain;
  background-color: rgb(0, 0, 0);
}

.pustoo {
  grid-area: nunu;
  background: url("cloud.png");
  margin-top: 580px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
}

.pusto0 {
  grid-area: nu;
  background-color: black;
}

.TEXT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  padding-top: 211px;
  padding-bottom: 64px;
  position: flex;
  width: 580px;
  height: 304px;
  left: 369px;
  top: 211px;
}