@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,400,500,600,700,800&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:regular,500,700&display=swap&subset=cyrillic-ext");
.zagolovok {
  width: 580px;
  height: 100px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 118.5%;
  /* or 43px */
  text-shadow: 5px 5px 5px #000;
  letter-spacing: 0.025em;
  font-feature-settings: "salt" on;
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pod_zagolovok {
  width: 544px;
  height: 119px;
  /* Текст / 21px, Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 143%;
  /* or 30px */
  letter-spacing: -0.2px;
  color: #ffffff;
  /* Inside auto layout */
  text-shadow: 4px 1px 3px #000;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.text {
  width: 166px;
  height: 31px;
  padding-top: 24.5px;
  justify-self: start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
  grid-area: a;
  color: #ffffff;
  align-self: start;
}

.text1 {
  width: 134px;
  height: 18px;
  padding-top: 24px;
  grid-area: b;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  justify-self: end;
  color: #ffffff;
  align-self: start;
}

.HEADER {
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "nul imgg a nulll f1 b nullll f2 c nulllll f3 d null" "nul imgg a nulll f1 b nullll f2 c nulllll f3 f null";
}

.text2 {
  padding-top: 24px;
  width: 154px;
  height: 36px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  grid-area: c;
  justify-self: end;
  align-self: start;
  color: rgb(255, 255, 255);
  align-items: start;
}

.text3 {
  width: 171px;
  height: 28px;
  grid-area: d;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 152%;
  padding-top: 17px;
  justify-self: end;
  color: #ffffff;
}

.text4 {
  width: 169px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  justify-self: end;
  grid-area: f;
  color: #ffffff;
}

.text5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  grid-area: g;
  justify-self: end;
  color: #ffffff;
}

.pusto {
  grid-area: nul;
}

.pusto3 {
  grid-area: nulll;
}

.pusto4 {
  grid-area: nullll;
}

.pusto2 {
  grid-area: nulllll;
}

.imgg {
  grid-area: imgg;
  justify-self: center;
  align-self: end;
}

.f1 {
  grid-area: f1;
  justify-self: start;
  align-self: center;
}

.f2 {
  grid-area: f2;
  justify-self: start;
  align-self: center;
}

.f3 {
  grid-area: f3;
  justify-self: start;
  align-self: center;
}

.text_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px;
  gap: 10px;
  position: relative;
  width: 201px;
  height: 37px;
  background: #F2F6FA;
  border-radius: 5px;
}

.nadzagolovok {
  position: absolute;
  width: 165px;
  height: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* Серый 1 */
  color: #2E363E;
}

.bu {
  align-items: center;
  padding: 30px 50px;
  gap: 10px;
  position: relative;
  width: 208px;
  height: 88px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
}

.bu:active {
  vertical-align: middle;
  background-color: #8d8d8d;
}

.otvetka {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) 1fr minmax(10px, 1fr);
  grid-template-rows: 850px;
  grid-template-areas: "p vn pp";
}

.p {
  grid-area: p;
  background: url("карты.png") no-repeat;
  text-align: right;
}

.pp {
  grid-area: pp;
}

.vn {
  grid-area: vn;
}

.cl {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 595px;
  grid-template-areas: "cloud";
  background-color: rgb(0, 0, 0);
}

.cll {
  grid-area: cloud;
  background: url("cloud1.png") repeat-x;
  background-color: rgba(0, 0, 0, 0);
}

.vn_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ramka {
  margin-right: 79px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 80px;
  gap: 30px;
  width: 559px;
  height: 850px;
  background: #FFFFFF;
  border: 8px solid #000000;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.zagolovok_vnutri {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
  width: 580px;
  height: 617px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.zagolovok_ramka {
  width: 472px;
  height: 240px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -4.5px;
  color: #2E363E;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.podzagolovok_ramka {
  width: 399px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2E363E;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0px;
}

.number {
  width: 399px;
  height: 85px;
  background: #E1E2E3;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  text-align: center;
}

.email {
  width: 399px;
  height: 79px;
  background: #E1E2E3;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  text-align: center;
}

.zapis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 201px;
  gap: 10px;
  width: 399px;
  height: 85px;
  background: #000000;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.zapis:active {
  vertical-align: middle;
  background-color: #505050;
}

.zapis_text {
  width: 184px;
  height: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sogl_button {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background: #616268;
  border: 1px solid #616268;
  border-radius: 2px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ssogl_text {
  width: 252px;
  height: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #7E868E;
}

.nadzagolovok_vn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 122px;
  height: 37px;
  background: #000000;
  border-radius: 5px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.nadzagolovok_vn_text {
  width: 86px;
  height: 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.zagolovok_vn {
  width: 580px;
  height: 180px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #2E363E;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.podzagolovok_vn {
  width: 580px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 143%;
  letter-spacing: -0.3px;
  color: #434B53;
  flex: none;
  flex-grow: 0;
}

.iconki_grid {
  display: grid;
  grid-template-columns: 237px 237px;
  grid-template-rows: 54px 63px 21px 54px 63px;
  grid-template-areas: "of kf" "ot kt" "p pp" "tf pf" "tt pt";
}

.online_f {
  grid-area: of;
}

.online_t {
  grid-area: ot;
  width: 203px;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2E363E;
}

.kalendar_f {
  grid-area: kf;
}

.kalendar_t {
  grid-area: kt;
  width: 203px;
  height: 63px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2E363E;
}

.telejka_f {
  grid-area: tf;
}

.telejka_t {
  grid-area: tt;
  width: 213px;
  height: 88px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2E363E;
}

.podarok_f {
  grid-area: pf;
}

.podarok_t {
  grid-area: pt;
  width: 203px;
  height: 63px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2E363E;
}

.pus {
  grid-area: pp;
}

.pus1 {
  grid-area: p;
}

.kurs {
  background-color: #000000;
}

.kurs_grid {
  display: grid;
  grid-template-columns: minmax(10px, 369) 1182px minmax(10px, 369px);
  grid-template-rows: 559px;
  grid-template-areas: "pst2 kvn pst3";
}

.pst2 {
  grid-area: pst2;
}

.pst3 {
  grid-area: pst3;
}

.vn_kurs_grid {
  grid-area: kvn;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 80px 45px 52px 53px 60px 45px 52px 53px;
  grid-template-areas: "zk zk zk" "p p p" "f1 f2 f3" "s c k" "st ct kt" "p1 p1 p1" "f4 f5 f6" "e pr en" "et prt ent";
  justify-items: center;
  justify-content: space-between;
  align-content: center;
}

.zagolovok_kurs {
  grid-area: zk;
  width: 1180px;
  height: 60px;
  left: 370px;
  top: 575px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.ff1 {
  grid-area: f1;
  background: url("1. Цифра (контур).png");
  background-size: contain;
}

.ff2 {
  grid-area: f2;
}

.ff3 {
  grid-area: f3;
}

.ff4 {
  grid-area: f4;
}

.ff5 {
  grid-area: f5;
}

.ff6 {
  grid-area: f6;
}

.pst {
  grid-area: p;
}

.pst1 {
  grid-area: p1;
}

.sglaz {
  grid-area: s;
  width: 328px;
  height: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 152%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-self: center;
}

.sglaz_text {
  grid-area: st;
  width: 328px;
  height: 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  align-self: start;
}

.cnatie {
  align-self: center;
  grid-area: c;
  width: 328px;
  height: 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 143%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snatie_text {
  grid-area: ct;
  width: 328px;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.kradnik {
  grid-area: k;
  align-self: center;
  width: 328px;
  height: 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 143%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.kradnik_text {
  grid-area: kt;
  width: 328px;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.exor {
  align-self: center;
  grid-area: e;
  width: 328px;
  height: 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 143%;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.exor_text {
  grid-area: et;
  width: 328px;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.praktika {
  align-self: center;
  grid-area: pr;
  width: 328px;
  height: 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 143%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.praktika_text {
  grid-area: prt;
  width: 328px;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.energy {
  align-self: center;
  grid-area: en;
  width: 328px;
  height: 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 143%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.energy_text {
  grid-area: ent;
  width: 328px;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.oblako {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 595px;
  grid-template-areas: "cloud";
  background-color: rgb(0, 0, 0);
}

.obl {
  grid-area: cloud;
  margin-top: -100px;
  background: url("cloud.png") repeat-x;
  background-color: rgba(0, 0, 0, 0);
}

.programma_grid {
  display: grid;
  grid-template-columns: minmax(10px, 369) 1182px minmax(10px, 369px);
  grid-template-rows: 459px;
  grid-template-areas: "net vn net1";
}

.programma_vn_grid {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 79px 360px;
  grid-template-areas: "zag zag zag" "one two tri";
}

.blok01 {
  margin-bottom: 22px;
  justify-self: center;
  align-items: end;
  box-sizing: border-box;
  width: 370px;
  height: 275px;
  left: 0px;
  top: calc(50% - 137.5px);
  background: #FFFFFF;
  border: 2px solid #2A2C2E;
  border-radius: 5px;
}

.vn_blok_grid {
  align-items: end;
  margin-left: 39.5px;
  display: grid;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  grid-template-rows: 167px 88px;
  grid-template-areas: "t1" "t2";
}

.t1 {
  width: 64px;
  height: 86px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 143%;
  display: flex;
  align-items: center;
  color: #131314;
}

/* шрифты 
&display=swap&subset=cyrillic-ext */
/* переменные */
.CLOUD {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 367px;
  grid-template-areas: "cloud";
  background-color: rgb(0, 0, 0);
}

.INSIDE {
  background: rgba(0, 0, 0, 0) no-repeat;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -2px 0px;
}

.screen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 870px;
  grid-template-areas: "vn foto foto";
  background-color: rgb(0, 0, 0);
}

.vnn {
  /* background: url("sfera.jpg") no-repeat;
  background-position-x: bottom right;
  background-size: 1497px 870px; */
  justify-self: right;
  margin-left: 369px;
}

.sfera {
  grid-area: foto;
  background: url("sfera.jpg") no-repeat;
  background-position-x: bottom right;
  background-size: 1497px 870px;
  margin-left: -300px;
}

.pusto {
  grid-area: pusto;
  background-color: black;
}

.cloud {
  grid-area: cloud;
  margin-top: -270px;
  background: url("cloudd.png");
  background-color: rgba(0, 0, 0, 0);
}

.TEXT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  padding-top: 211px;
  padding-bottom: 64px;
  position: flex;
  width: 580px;
  height: 304px;
  left: 369px;
  top: 211px;
}

.babulia {
  align-self: center;
  justify-self: center;
}